/*RESET GENERELLE REGLER FOR CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

    top: 0px;
    background-color: #FCF5EF;

    /*Position fixed*/
    position: fixed;
    top: 0px;
}

header nav a{
    text-decoration: none;
    color: #2E4382;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-size: 16pt;
}

header nav{
    display:flex;
    width: 80%;
    justify-content: space-around;
}

header nav a:hover{
    color: black;
}

#logo{
    width: 65px;
    height: auto;
}


/*MAIN*/
main{
    margin-top: 100px;
}

h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 5px;
}

 hr{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    /*Centrering ved hjælp af side margins*/
}

/*DE TRE CARDSCONTAINERS*/
.cardscontainer{
    min-width: 1100px;
    margin: 0 30 30 30;
    
    display: flex;
    justify-content: space-around;

    font-family: 'Libre Baskerville', serif;
}

.cardscontainer div{
    margin-top: 90px;
    width: 340px;

    background-color: white;

    text-align: center; 
}

.cardscontainer div h2{
    font-size: 16pt;
    font-weight:bold;
    margin: 5px;
    letter-spacing: 1px;
}

.cardscontainer div p{
    font-size: 13pt;
    font-weight:lighter;
    line-height: 25px;
    margin: 5px;
    letter-spacing: 1px;
}


/*FOOTER*/
footer{
    background-color: #FCF5EF;
    margin-top: 20px;
}

h3{
    font-family:'Libre Baskerville', serif;
    font-size: 16pt;
    text-align: center;
    font-weight:bold;
    padding: 10px;
    letter-spacing: 2px;
}

.findos{
    display: flex;
    justify-content: center;
}

#fb , #insta{
    height: 50px;
    width: auto;
    margin: 10px;
}